<nav class="navbar navbar-expand navbar-light border-bottom ">
  <a href="/" ><img  src="/images/chicken.png" width="60" height="60"></a>
<div class="collapse navbar-collapse" id="navbarNav">

  <button class="btn btn-dark ml-auto" type="submit">
    Cluck!
  </button>


      <button class="btn btn-danger " style=" margin: 8 " type="submit">
        Sign In
      </button>

</nav>